{% extends 'base.html.twig' %}

{% block title %}Closed Positions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/table_styles.css') }}">
{% endblock %}

{% block body %}
    <div class="text-center page-header">
        <h1 class="text-3xl">Positions</h1>
        <p class="mb-4">List of all closed positions</p>
    </div>

    <div class="text-right mb-4">
        <a href="{{ path('app_position_add') }}" class="btn btn-primary">Add Position</a>
    </div>

    <div class="overflow-x-auto">
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th class="entry-time-column">Entry Time</th>
                    <th class="width-6">Symbol</th>
                    <th class="width-3">Type</th>
                    <th class="width-3">Vol</th>
                    <th class="width-6">Entry</th>
                    <th class="width-6">Stop Loss</th>
                    <th class="width-6">Exit</th>
                    <th class="width-3">Comm</th>
                    <th class="width-3">Exit Time</th>

                    <th class="width-3">Div</th>
                    <th class="width-3">Swap</th>
                    <th class="width-6">Profit</th>
                    <th class="width-3">System</th>
                    <th class="width-6">Strategy</th>
                    <th class="width-6">Asset Class</th>
                    <th class="width-3">Grade</th>
                    <th class="width-3">State</th>
                    <th class="width-3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for closedPosition in closedPositions %}
                    <tr>
                        <td>{{ closedPosition.getEntryTime().format('Y.m.d H:i') }}</td>
                        <td>{{ closedPosition.symbol }}</td>
                        <td>{{ closedPosition.type }}</td>
                        <td>{{ closedPosition.volume }}</td>
                        <td>{{ closedPosition.getEntryLevel }}</td>
                        <td>{{ closedPosition.stopLoss }}</td>
                        <td>{{ closedPosition.getExitLevel() }}</td>
                        <td>{{ closedPosition.commission }}</td>
                        <td>{{ closedPosition.getExitTime().format('Y.m.d H:i') }}</td>

                        <td>{{ closedPosition.dividend }}</td>
                        <td>{{ closedPosition.swap }}</td>
                        <td>{{ closedPosition.profit }}</td>
                        <td>{{ closedPosition.system }}</td>
                        <td>{{ closedPosition.strategy }}</td>
                        <td>{{ closedPosition.assetClass }}</td>
                        <td>{{ closedPosition.grade }}</td>
                        <td>{{ closedPosition.state }}</td>

                        <td>
                            <a href="{{ path('app_position_update', {'positionId': closedPosition.getPositionId}) }}" class="btn btn-primary btn-sm">Update</a>
                            <form action="{{ path('app_position_delete', {'positionId': closedPosition.getPositionId}) }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
