{% extends 'base.html.twig' %}

{% block title %}Edit Position{% endblock %}

{% block body %}
    <div class="text-center page-header">
        <h1 class="text-3xl">Edit Position</h1>
    </div>

    <div class="text-left bg-white p-4 rounded-md shadow-md mt-8" style="max-width: 600px; margin: auto;">
        {{ form_start(form) }}
        {{ form_row(form.time) }}
        {{ form_row(form.symbol) }}
        {{ form_row(form.type) }}
        {{ form_row(form.volume) }}
        {{ form_row(form.priceLevel) }}
        {{ form_row(form.stopLoss) }}
        {{ form_row(form.commission) }}
        {{ form_row(form.dividend) }}
        {{ form_row(form.swap) }}
        {{ form_row(form.profit) }}
        {{ form_row(form.system) }}
        {{ form_row(form.strategy) }}
        {{ form_row(form.assetClass) }}
        {{ form_row(form.grade) }}
        {{ form_row(form.state) }}
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>

{% endblock %}