<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}System Monitor{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <nav class="bg-white shadow mb-4">
            <div class="container mx-auto px-4">
                <div class="flex justify-between">
                    <div>
                        <a href="{{ path('app_dashboard') }}" class="inline-block px-4 py-2 text-gray-700 hover:text-gray-900 {% if app.request.get('_route') == 'dashboard' %}border-b-2 border-blue-500{% endif %}">Dashboard</a>
                        <a href="{{ path('app_show_all_playbooks') }}" class="inline-block px-4 py-2 text-gray-700 hover:text-gray-900 {% if app.request.get('_route') == 'playbooks' %}border-b-2 border-blue-500{% endif %}">Playbooks</a>
                        <a href="{{ path('app_show_all_reviews') }}" class="inline-block px-4 py-2 text-gray-700 hover:text-gray-900 {% if app.request.get('_route') == 'reviews' %}border-b-2 border-blue-500{% endif %}">Reviews</a>
                        <a href="{{ path('app_closed_position_show_all') }}" class="inline-block px-4 py-2 text-gray-700 hover:text-gray-900 {% if app.request.get('_route') == 'positions' %}border-b-2 border-blue-500{% endif %}">Positions</a>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>

</body>
</html>
