{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{#    <div class="mx-1">#}
    <div class="text-center page-header">
        <h1 class="text-3xl">Dashboard</h1>
        <p class="mb-4">Positions for the current week. Portfolio heat. Returns.</p>
    </div>

    <div class="text-right mb-4">
        <a href="{{ path('app_position_add') }}" class="btn btn-primary">Add Position</a>
    </div>

    <h4 class="text-2xl font-semibold mb-2">Open Positions</h4>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th class="py-2 px-4 border-b fixed-width-1 border-r text-center">Instrument</th>
                <th class="py-2 px-4 border-b fixed-width-1 border-r text-center">Open At</th>
                <th class="py-2 px-4 border-b fixed-width-1 border-r text-center">Type</th>
                <th class="py-2 px-4 border-b fixed-width-1 border-r text-center">Profit</th>
                <th class="py-2 px-4 border-b fixed-width-1 text-center">Risk</th>
            </tr>
            </thead>
            <tbody>
            {% for instrument, brokerId in openPositions %}
                <tr class="border-b hover:bg-gray-100">
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ instrument }}</td>
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ brokerId.open_at }}</td>
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ brokerId.order }}</td>
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ brokerId.floating_PnL }}</td>
                    <td class="py-2 px-4 fixed-width-1 text-center">{{ brokerId.risk }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h4 class="text-2xl font-semibold mt-8 mb-2">Closed Positions</h4>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th class="py-2 px-4 border-b border-r fixed-width-1 text-center">Instrument</th>
                <th class="py-2 px-4 border-b border-r fixed-width-1 text-center">Open At</th>
                <th class="py-2 px-4 border-b border-r fixed-width-1 text-center">Type</th>
                <th class="py-2 px-4 border-b border-r fixed-width-1 text-center">Closed At</th>
                <th class="py-2 px-4 border-b fixed-width-1 text-center">Profit</th>
            </tr>
            </thead>
            <tbody>
            {% for instrument, brokerId in closedPositions %}
                <tr class="border-b hover:bg-gray-100">
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ instrument }}</td>
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ brokerId.open_at }}</td>
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ brokerId.order }}</td>
                    <td class="py-2 px-4 border-r fixed-width-1 text-center">{{ brokerId.closed_at }}</td>
                    <td class="py-2 px-4 fixed-width-1 text-center">{{ brokerId.profit }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#    </div>#}
{% endblock %}