{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/table_styles.css') }}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="text-center page-header">
        <h1 class="text-3xl">Dashboard</h1>
        <p class="mb-4">Positions for the current week. Portfolio heat. Returns.</p>
    </div>

    {# Flash messages #}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="text-right mb-4">
        <a href="{{ path('app_position_add') }}" class="btn btn-primary">Add Position</a>
    </div>

        <div class="overflow-x-auto">
            <div class="table-container">
                <h4 class="text-2xl font-semibold mb-2">Closed Positions</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Entry Time</th>
                            <th>Symbol</th>
                            <th>Type</th>
                            <th>Vol</th>
                            <th>Entry</th>
                            <th>Stop Loss</th>
                            <th>Exit</th>
                            <th>Comm</th>
                            <th>Exit Time</th>
                            <th>Div</th>
                            <th>Swap</th>
                            <th>Profit</th>
                            <th>System</th>
                            <th>Strategy</th>
                            <th>Asset Class</th>
                            <th>Grade</th>
                            <th>State</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                <tbody>
                    {% for closedPosition in closedPositions %}
                        <tr>
                            <td>{{ closedPosition.getEntryTime().format('Y.m.d H:i') }}</td>
                            <td>{{ closedPosition.symbol }}</td>
                            <td>{{ closedPosition.type }}</td>
                            <td>{{ closedPosition.volume }}</td>
                            <td>{{ closedPosition.getEntryLevel }}</td>
                            <td>{{ closedPosition.stopLoss }}</td>
                            <td>{{ closedPosition.getExitLevel() }}</td>
                            <td>{{ closedPosition.commission }}</td>
                            <td>{{ closedPosition.getExitTime().format('Y.m.d H:i') }}</td>

                            <td>{{ closedPosition.dividend }}</td>
                            <td>{{ closedPosition.swap }}</td>
                            <td>{{ closedPosition.profit }}</td>
                            <td>{{ closedPosition.system }}</td>
                            <td>{{ closedPosition.strategy }}</td>
                            <td>{{ closedPosition.assetClass }}</td>
                            <td>{{ closedPosition.grade }}</td>
                            <td>{{ closedPosition.state }}</td>
                            <td>
                                <<div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('app_position_timeline', {'positionId': closedPosition.getPositionId}) }}">History</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_position_update', {'positionId': closedPosition.getPositionId, 'context': 'dashboard'}) }}">Update</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_position_edit', {'positionId': closedPosition.getPositionId}) }}">Edit</a></li>
                                        <li>
                                            <form action="{{ path('app_position_delete', {'positionId': closedPosition.getPositionId}) }}" method="post">
                                                <button type="submit" class="dropdown-item">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        <div class="overflow-x-auto">
            <div class="table-container">
                <h4 class="text-2xl font-semibold mt-8 mb-2">Open Positions</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Entry Time</th>
                                <th>Symbol</th>
                                <th>Type</th>
                                <th>Vol</th>
                                <th>Entry</th>
                                <th>Stop Loss</th>
                                <th>Exit</th>
                                <th>Comm</th>
                                <th>Exit Time</th>
                                <th>Div</th>
                                <th>Swap</th>
                                <th>Profit</th>
                                <th>System</th>
                                <th>Strategy</th>
                                <th>Asset Class</th>
                                <th>Grade</th>
                                <th>State</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    <tbody>
                {% for position in openPositions %}
                    <tr>
                        <td>{{ position.EntryTime().format('Y.m.d H:i') }}</td>
                        <td>{{ position.symbol }}</td>
                        <td>{{ position.type }}</td>
                        <td>{{ position.volume }}</td>
                        <td>{{ position.entryLevel }}</td>
                        <td>{{ position.stopLoss }}</td>
                        <td>{{ position.exitLevel }}</td>
                        <td>{{ position.commission }}</td>
                        <td>{{ position.ExitTime()}}</td>
                        <td>{{ position.dividend }}</td>
                        <td>{{ position.swap }}</td>
                        <td>{{ position.profit }}</td>
                        <td>{{ position.system }}</td>
                        <td>{{ position.strategy }}</td>
                        <td>{{ position.assetClass }}</td>
                        <td>{{ position.grade }}</td>
                        <td>{{ position.state }}</td>
                        <td>
                            <a href="{{ path('app_position_update', {'positionId': position.positionId}) }}" class="btn btn-primary btn-sm">Update</a>
                            <form action="{{ path('app_position_delete', {'positionId': position.getPositionId}) }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}